/* shared styles */
*{
  font-family: 'work Sans';
}

.btn_primary{
  border-radius: 8px;
  color: #FFF;
  background: #FF900E;
  font-size: 1.25rem;
  padding: 20px 25px;
  border: 0;
  cursor: pointer;
  }

  .text_light_grey{
    color: #727272;
    font-weight: 400;
    }


    .section_title{
      color: #131313;
      font-size: 2.8rem;
      font-weight: 500;
    }

/* header style */

header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 230px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav > ul{
  display:flex;
  
  
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;

}

nav li a{
  text-decoration: none;
  color: black;
}

/* banner styles */

.banner_content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner_title{
color:  #131313;
font-size: 4rem;
font-weight: 700;

}


.banner img{
  margin-top: 20px;
  width: 100%;
}




/* main styles */
main{
  max-width: 1440px;
  margin: 0 auto;
}

.team_container{
 display: flex;
 align-items: center;
}

.team_image_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team_content{
  padding-left: 70px;
  padding-right: 70px;

}

.team_content_title{
  font-size: 3rem;
}

.quick_list{
  color: #727272;
  font-weight: 500;
}
.of_our{
  font-weight: 700;
}
.text_features{
  color: #FF900E;
  font-weight: 700;
}
/* features styles */
.features{
  margin-top: 130px;
  display: flex;
  gap: 146px;
}
.features .section_title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.feature_content .card{
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.06);
}
.features_image img{
  height: 80%;
  margin-left: 50px;
}

.ten_years_badge{
  border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
padding: 40px;
text-align: center;
position: relative;
bottom: 100px;
}

.ten_years_badge h2{
  font-size: 4rem;
  margin:0;


}
.ten_years_badge p{
  font-size: 1.5rem;
}

/* fact styles */
.facts_card_container{
  display: flex;
  justify-content: space-around;
}
.facts_card_container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
  
  
}
.facts_card_container .card_title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}

.facts_card_container .card_stats{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* sponsors styles */
.sponsors_section{
  text-align: center;
}
.sponsors_image_container{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 gap: 20px;
}
.sponsors_image_container img{
  width: 165px;

}










/* resposive media screen */
@media screen and (max-width:576px) {
  header{
  padding: 20px ;
}
.features_image img{
  width: 100%;
  margin-left: 0;
}
.ten_years_badge{
  position: static;
  width: 80%;
  /* max-width: 300px; */
}
nav,.team_container , .facts_card_container,.sponsors_image_container,.features{
  flex-direction: column;
}

.team_image_container{
  grid-template-columns: 1fr;
}
.team_content,.facts_card_container,{
  padding-left: 20px;
  padding-right: 20px;

}
.team_content,.facts_card_container,,
  .facts_card_container,.sponsors_image_container{
  gap: 20px;
}
} 

/* tablet or medium */
@media screen and (min-width:576px) and (max-width:960px) {
  nav,.team_container,.sponsors_image_container, .features
  {
    flex-direction: column;

  }
   .features_image img{
    width: 100%;
    margin:0 auto;
  } 
  /* .ten_years_badge{
    position: static;
    width: 80%;
    /* max-width: 300px; */
  
  header{
    padding: 50px ;
  }
  
}