/* shared styles */
*{
  font-family: 'work Sans';
}

.btn_primary{
  border-radius: 8px;
  color: #FFF;
  background: #FF900E;
  font-size: 1.25rem;
  padding: 20px 25px;
  border: 0;
  cursor: pointer;
  }

  .text_light_grey{
    color: #727272;
    font-weight: 400;
    }


    .section_title{
      color: #131313;
      font-size: 2.8rem;
      font-weight: 500;
    }

/* header style */

header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 230px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav > ul{
  display:flex;
  
  
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;

}

nav li a{
  text-decoration: none;
  color: black;
}

/* banner styles */

.banner_content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner_title{
color:  #131313;
font-size: 4rem;
font-weight: 700;

}


.banner img{
  margin-top: 20px;
  width: 100%;
}




/* main styles */
main{
  max-width: 1440px;
  margin: 0 auto;
}

.team_container{
 display: flex;
 align-items: center;
}

.team_image_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team_content{
  padding-left: 70px;
  padding-right: 70px;

}

.team_content_title{
  font-size: 3rem;
}

.quick_list{
  color: #727272;
  font-weight: 500;
}
.of_our{
  font-weight: 700;
}
.text_features{
  color: #FF900E;
  font-weight: 700;
}







/* resposive media screen */
@media screen and (max-width:576px) {
  header{
  padding: 20px ;
}
nav,.team_container{
  flex-direction: column;
}

.team_image_container{
  grid-template-columns: 1fr;
}
.team_content{
  padding-left: 20px;
  padding-right: 20px;

}
} 

/* tablet or medium */
@media screen and (min-width:576px) and (max-width:960px) {
  nav,.team_container
  {
    flex-direction: column;

  }
  header{
    padding: 50px ;
  }
  
}