/* shared styles */
*{
  font-family: 'work Sans';
}

.btn_primary{
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
  border: none;
  
  }

/* header style */

header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 230px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_title{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 500;
}

nav > ul{
  display:flex;
  
  
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;

}

nav li a{
  text-decoration: none;
  color: black;
}

/* banner styles */

.banner_content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner_title{
color:  #131313;
font-size: 4rem;
font-weight: 700;

}
.banner_description{
color: #727272;
font-weight: 400;
}


